@using MuzikAkademisi.Entities.Model
@model List<Sepet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}
<html>
<head>
    <style>
        #btn {
            background-color: white;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
            margin-left: 20px;
            border-style: solid;
            border-style: solid;
        }
    </style>
</head>

<body>
    <div style="margin:50px 50px; font-size:20px;"><b>~SEPET~</b></div>

    <div style="width: 400px; height: 400px;  ">


        @foreach (var krs in Model)
        {
        <div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px 20px; border-style: solid; ">

            <a href="#"><img src="@krs.Kurs.KursFotograf" style="width:330px; height:150px; " /></a>
            <p><b>KURS ADI: @krs.Kurs.KursAdi</b></p>
            <p><b>KURS FİYATI: @krs.Kurs.KursFiyat</b></p>

            <a id="btn" href="/Sepet/Sil/@krs.SepetId"> Ürünü Sil </a>
            <a id="btn" href="/OdemeKursMuzikAleti/Ekle/@krs.SepetId"> Sepeti Onayla </a>


        </div>
        
   
        
        }
    </div>




      <div style="width: 400px; height: 400px;  ">


        @foreach (var mzk in Model)
        {
          <div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px 20px; border-style: solid;">
              <a href="#"><img src="@mzk.MuzikAleti.MuzikAletiFotograf" style="width:330px; height:150px; " /></a>
              <p><b> @mzk.MuzikAleti.MuzikAletiAciklama</b></p>
              <p><b> @mzk.MuzikAleti.MuzikAletiFiyat</b></p>

              <a id="btn" href="/Sepet/Sil/@mzk.SepetId"> Ürünü Sil </a>
              <a id="btn" href="/OdemeKursMuzikAleti/Ekle/@mzk.SepetId"> Sepeti Onayla </a>

          </div>
        

        
        }
    </div>

</body>
</html>