@using MuzikAkademisi.Entities.Model
@model List<OdemeKursMuzikAleti>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<html>
<head>
    <style>
        #btn {
            background-color: white;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 10px;
            border-style: solid;
            margin-left:20px;
        }

        .kapsayici {
            margin-top: 100px;
            width: auto;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="margin:50px 50px; font-size:20px;"><b>~ÖDEME~</b></div>
    <div class="kapsayici">
        @foreach (var krs in Model)
        {
            try
            {
                if (krs.KursId > 0)
                {
<div class="container" style="width: 500px; height: 500px;  ">
    <div style="width: 400px; height: 400px; ">
        <div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px 20px; border-style: solid; border-radius: 20px; ">
            <a href="Kurs/Guncelle/@krs.Kurs.KursId"><img src="@krs.Kurs.KursFotograf" style="width: 400px; height: 150px; border-radius: 17px; " /></a>
            <p><b>KURS ADI: @krs.Kurs.KursAdi</b></p>
            <p><b>FİYAT: @krs.Kurs.KursFiyat</b></p>
            <p><b>IBAN: TR66543212542125752424242 </b></p>

            <a id="btn" href="/OdemeKursMuzikAleti/Sil/@krs.OdemeKursMuzikAletiId"> İptal Et </a>
            <a id="btn" href="/Profil/Ekle/@krs.Kurs.KursId"> Ödemeyi Onayla </a>

        </div>
    </div>


    </div>
                }


                if (krs.MuzikAletiId > 0)
                {

<div class="container" style="width: 500px; height: 500px;  ">
    <div style="width: 400px; height: 400px; ">
        <div style="width: 400px; height: 400px; background-color: palevioletred; margin: 20px 20px; border-style: solid; border-radius: 20px;">
            <a href="#"><img src="@krs.MuzikAleti.MuzikAletiFotograf" style="width: 400px; height: 150px; border-radius: 17px;" /></a>
            <p><b> @krs.MuzikAleti.MuzikAletiAciklama</b></p>
            <p><b> @krs.MuzikAleti.MuzikAletiFiyat</b></p>
            <p><b>IBAN: TR66543212542125752424242 </b></p>

            <a id="btn" href="/OdemeKursMuzikAleti/Sil/ @krs.OdemeKursMuzikAletiId"> İptal Et </a>
            <a id="btn" href="/Profil/Ekle2/@krs.MuzikAletiId"> Ödemeyi Onayla </a>

        </div>
    </div>
</div>
                }
            }

            catch { }

        }



    </div>
</body>
</html>

