@using MuzikAkademisi.Entities.Model
@model Kurs
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AnasayfaLayout.cshtml";
}

<html>
<head>
    <style>
        #button {
            background-color: white;
            border: none;
            color: black;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 10px 200px;
            border-radius: 10px;
            border-style: solid;
        }
    </style>
</head>
<body>
<div style="width:350px; height:350px; background-color:palevioletred; margin:20px 20px; ">
    <div style="text-align:center; margin-top:50px;" ><b>Bilgileri Güncelleyiniz...</b></div>
 
    <br />
    <div style="width:350px; height:350px; margin:70px 10px;">
    @using (Html.BeginForm("Guncelle", "Kurs", FormMethod.Post))
    {
        @Html.Label("Kurs Id ")
        @Html.TextBoxFor(x => x.KursId, new { @class = "form-control" ,@readonly ="readonly" })
        <br />
        <br />
        @Html.Label("Fotoğraf: ")
        @Html.TextBoxFor(m => m.KursFotograf, new { @class = "form-control" })
        <br />
        <br />
        @Html.Label("Kurs Adı: ")
        @Html.TextBoxFor(x => x.KursAdi, new { @class = "form-control"})
        <br />
        <br />
        @Html.Label("Fiyat: ")
        @Html.TextBoxFor(x => x.KursFiyat, new { @class = "form-control" })
        <br />
        <button id="button"> Güncelle </button>
        
    }
        </div>
</div>
 </body>
</html>

